.pill1 .nav-link.active,
.pill2 .nav-link.active,
.pill1 .nav-link.active:hover,
.pill2 .nav-link.active:hover {
  background-color: #6d8fae !important;
  color: white;
}

.accButton {
  border: none !important;
  background-color: #6d8fae !important;
}
.accButton:hover {
  border: none !important;
  background-color: #54718c !important;
}

.pill1 .nav-link:hover,
.pill2 .nav-link:hover {
  background-color: #e5e4e4;
  color: #5d7c98;
}

.pill1 .nav-link,
.pill2 .nav-link {
  color: #6d8fae;
}
