.pill1 .nav-link.active,
.pill2 .nav-link.active,
.pill1 .nav-link.active:hover,
.pill2 .nav-link.active:hover {
  background-color: #567088 !important;
  color: white;
}

.pill1 .nav-link:hover,
.pill2 .nav-link:hover {
  background-color: #e5e4e4;
  color: #567088;
}

.pill1 .nav-link,
.pill2 .nav-link {
  color: #567088;
}
