.header {
  grid-area: header;
}

.user {
  grid-area: user;
  border-left: 1px solid black;
}

.navbar-wrapper {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: 'header spacer user';
  border: 1px solid black;
}
